<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link rel="stylesheet" href="/static/styles/materials_order_style.css">
</head>
<body>
<div class="container">
    <header class="header">
        <div class="header-container">
        <div class="logo">
            <a href="/">
                <img src="http://localhost:9000/materials/home-icon.png" alt="Лого">
            </a>
        </div>
        </div>
    </header>

    <div class="content">
       <!-- Параметры -->
<div class="parameters-group">
    <div class="parameters-header">Параметры (м)</div>

    <!-- Внутренний контейнер для сдвига полей -->
    <div class="parameters-fields">
        <div class="parameter-row">
            <div class="parameter-label">Высота потолка</div>
            <input type="text" class="parameter-input"
                   value="{{if .order.CeilingHeight.Valid}}{{printf "%.2f" .order.CeilingHeight.Float64}}{{end}}">
        </div>

        <div class="parameter-row">
            <div class="parameter-label">Толщина стены</div>
            <input type="text" class="parameter-input"
                   value="{{if .order.WallThickness.Valid}}{{printf "%.2f" .order.WallThickness.Float64}}{{end}}">
        </div>
    </div>
</div>

</div>
        <!-- Контейнер для счетчика -->
       <div class="order-header">
       <div class="order-count">
        {{len .materials}} {{plural (len .materials) "услуга" "услуги" "услуг"}}
    </div>
</div>

<div class="order-materials">
    {{range .materials}}
   <div class="card">
    <div class="card-image">
        <img src="{{.Material.Image}}" alt="{{.Material.Title}}">
    </div>
    <div class="card-info">
    <!-- Левая часть: только название -->
    <div class="card-info-left">
        <div class="card-title">{{.Material.Title}} {{.Material.Description}}</div>
    </div>

    <!-- Средняя часть: расход и количество -->
    <div class="card-info-middle">
        <div class="card-bottom">
            <div class="card-volume">{{.Material.Consumption}} м³ на 1 м³ кладки</div>
            <div class="card-count">{{.Material.Count}} шт./м³</div>
        </div>
    </div>

    <!-- Правая часть: ввод длины и результат -->
   <div class="card-info-right">
    <div class="card-input-block">
        <div class="card-input-label">Длина стены</div>
        <input type="text" class="card-input"
               placeholder="Введите длину стены (м)"
               value="{{if .WallLength.Valid}}{{printf "%.2f" .WallLength.Float64}}{{end}}">
    </div>

    <div class="card-result">
        <div class="card-result-label">Результат</div>
        <input type="text" class="card-result-output" readonly
               value="{{if .MaterialsConsumption.Valid}}{{printf "%.2f" .MaterialsConsumption.Float64}}{{end}}">
    </div>
</div>

</div>


</div>


    {{end}}
</div>


    {{if gt .order.ID 0}}
    <div class="order-actions" style="margin-top:20px;">
        <form action="/orders/delete/{{.order.ID}}" method="post">
            <button class="delete-button">Удалить заявку</button>
        </form>
    </div>
    {{end}}


    </div>
</div>
</body>
</html>
